body {
    font-family: Kanit, arial;
    margin: 0px;
}

img {
    margin: 0px;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 25px 35px;
    background-color: #686868;
    color: white;
    font-weight: 300;

}

.shinkolite-logo-box {
    width: 280px;
    margin-right: 30px;
}

.shinkolite-logo {
    width: 100%
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    width: 260px;
}

.navbar-box {
    background-color: rgb(90, 90, 90);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;

    color: white;
    font-weight: 300;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 1050px;
    justify-content: space-between;
    align-items: center;
    
}

.nav-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 23px;

}

.nav-box-1-1 {
    font-size: 16px;
}

.p1 {
    width: 100%;
    
}

.intro {
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 15px;

    text-align: center;
}

.intro-header {
    font-size: 40px;
    padding-bottom: 20px;
}

.shinkolite-green {
    color: #00AC9B;
}

.intro-content {
    font-size: 20px;
    font-weight: 300;
    max-width: 1000px;
}

.goods-box {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 70px 15px;
    text-align: center;
}

.goods {
    max-width: 800px;
}


.p2-1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.p2-2 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}

.p2-2-relative {
    position: relative;
}

.p2-2-header {
    position: absolute;
    top: -20px;
    left: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2vw 3vw;
    font-weight: 300;
}

.p2-2-header-1 {
    font-size: 2vw;
}

.p2-2-header-2 {
    font-size: 4vw;
}

.p2-1, .p2-2 {
    display: block;
    
  }

.properties-box {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.properties-box-header {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 14px;

}

.properties-box-content {
    font-size: 22px;
    max-width: 650px;
    font-weight: 300;
}

.properties-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    padding: 100px 10px;
}

.properties-icon-setting {
    width: 100%;
}

.properties-icon-content {
    font-size: 22px;
    font-weight: 300;
    
}

.qualification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgb(230, 229, 229);
    color: black;

    padding: 70px 10px;
}

.qualification-grid {
    width: 1200px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    column-gap: 20px;
}

.qualification-header {
    font-weight: 500;
}

.qualification-header, .qualification-subheader {
    font-size: 40px;
}

.qualification-icons {
    width: 100%;
}

.qualification-grid-setting {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.qualification-content {
    font-size: 20px;
    font-weight: 400;
    
}

.news {
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 10px;

}

.news-header {
    font-size: 40px;
    font-weight: 300;
}

.news-subheader {
    font-size: 44px;
    font-weight: 500;
    color: #00AC9B;
}

.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 1200px;
    column-gap: 30px;

    padding: 60px 10px;
}

.news-div {
    position: relative;
    

}

.news-cover {
    width: 100%;
}

.news-content {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 5px;
    font-size: 18px;

    background-color: rgba(0, 0, 0, 0.7);
    
    
}

.news-text {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    
    height: 60px;

    
}

.ending-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.content-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.content {
    width: 100%;
    
}

.content-download {

    position: absolute;
    
}

.ending-section-header {
    font-size: 40px;
    font-weight: 500;
    opacity: 0.8;
}

.ending-section-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;

    border: none;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
}

.ending {
    background-color: black;
    color: white;
    padding: 50px 30px;
}


@media (max-width: 800px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
        width: 1050px;
        justify-content: space-between;
        align-items: center;

        font-size: 16px;
        
    }


.properties-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    padding: 100px 10px;
}

    
}
